{% extends 'base.html.twig' %}
{% block title %}
	Tous les Produits
{% endblock %}

{% block body %}
	<div class="container text-center mt-4">
		<div>
			<ul class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
				<li class="nav-item">
					<a href="{{ path('home') }}" class="nav-link nav-active-2 text-secondary {% if app.request.attributes.get('_route') == 'product_home' %}active bg-info text-white{% endif %}" id="nav-product-tab" data-bs-toggle="tab" data-bs-target="#nav-product" type="button" role="tab" aria-controls="nav-product" aria-selected="true">Tous les Produits</a>
				</li>

				{% for category in categories %}
					<li class="nav-item">
						<a href="{{ path('show_product_by_category', {'id': category.id}) }}" class="nav-link nav-active-2 text-secondary {% if app.request.get('id') == category.id %}active{% endif %}" id="nav-{{ category.nom }}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{ category.nom }}" type="button" role="tab" aria-controls="nav-{{ category.nom }}" aria-selected="true">{{ category.nom }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>

		<div class="tab-content mt-5 " id="nav-tabContent">
			<div class="tab-pane fade {% if app.request.attributes.get('_route') == 'product_home' %}show active{% endif %}" id="nav-product" role="tabpanel" aria-labelledby="nav-product-tab">
				<div class="row justify-content-between">
					{% for product in products %}
						<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
							<div class="card shadow-sm">
								<div class="text-center">
									<img src="{{ asset('uploads/images/products/' ~ product.image) }}" class="mt-3" width="150px" height="auto" alt="Product Photo">
								</div>
								<div class="card-body">
									<h5 class="card-title fw-bold">{{ product.nom|capitalize }}</h5>
									<p class="card-text fw-bolder text-info">{{ product.Prix|number_format(2, ',', '.') }}€</p>
									<a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-sm btn-warning text-info">Découvrez</a>
									<a href="{{ path('addTo_panier', {'id': product.id}) }}" class="btn btn-sm btn-info">Ajouter au Panier</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

			{% for category in categories %}
				<div class="tab-pane fade {% if app.request.get('id') == category.id %}show active{% endif %}" id="nav-{{ category.nom }}" role="tabpanel" aria-labelledby="nav-{{ category.nom }}-tab">
					<div class="row justify-content-between">
						{% for product in products|filter(item => item.category.id == category.id) %}
							<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
								<div class="card shadow-sm">
									<div class="text-center">
										<img src="{{ asset('uploads/images/products/' ~ product.image) }}" class="mt-3" width="150px" height="auto" alt="Product Photo">
									</div>
									<div class="card-body">
										<h5 class="card-title fw-bold">{{ product.nom|capitalize }}</h5>
										<p class="card-text fw-bolder text-info">{{ product.Prix|number_format(2, ',', '.') }}€</p>
										<a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-sm btn-warning text-info">Découvrez</a>
										<a href="{{ path('addTo_panier', {'id': product.id}) }}" class="btn btn-sm btn-info">Ajouter au Panier</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endfor %}

		</div>
	</div>
{% endblock %}
