{% extends 'base.html.twig' %}

{% block title %}Product
{% endblock %}

{% block body %}

	<div class="container mx-auto mt-5">
		<div class="card mb-3">
			<div class="row g-0">
				<div class="col-md-4">
					<img src="{{ product.image }}" class="img-fluid" alt="Product Photo">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">{{ product.nom }}</h5>
						<h6 class="card-subtitle mb-2 text-muted">{{ product.SousTitre }}</h6>
						<hr>
						<p class="card-text">{{ product.description }}</p>

						<h3 class"m-5">
							PRIX :
							{{ product.Prix }}
							EURO</h3>

						<br><br>
						<br>

						<a href="{{ path('product_home') }}" class=" btn btn-lg btn-outline-danger">Retour à la liste</a>
						<a href="#" class="btn btn-lg btn-info">Ajouter au Panier</a>

					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
