<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="bg-light">
		<header class="bg-info d-flex justify-content-between px-5 h4 text-white5 align-items-center">
			<p class="h4">
				<a href="{{path('product_home')}}" class="text-white nav-link mx-3">
					E-COMMERCE
				</a>
			</p>
			<p class="d-flex align-items-center mt-1">
				<a href="{{path('app_login')}}" class="text-white mx-3">
					<i class="bi bi-box-arrow-in-right" style="font-size: 1.5 rem;"></i>
				</a>
				<a href="{{path('app_register')}}" class="text-white">
					<i class="bi bi-person-plus-fill" style="font-size: 1.5 rem;"></i>
				</a>
			</p>

		</header>
		<div class="text-center container">
			{% include '_partials/_flash.html.twig' %}
		</div>


		{% block body %}{% endblock %}

	</body>
</html>
